<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>599242215440-gt73djrofpca5ng1g1v2g2vin62pi4fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599242215440-gt73djrofpca5ng1g1v2g2vin62pi4fo</string>
	<key>API_KEY</key>
	<string>AIzaSyBAOxToIqDEtZTVCjeD0--nZvevyb_ONT4</string>
	<key>GCM_SENDER_ID</key>
	<string>599242215440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nus.cs3217.a0139655u.TrainToChangi</string>
	<key>PROJECT_ID</key>
	<string>traintochangi</string>
	<key>STORAGE_BUCKET</key>
	<string>traintochangi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:599242215440:ios:aad916a7299eca7b</string>
	<key>DATABASE_URL</key>
	<string>https://traintochangi.firebaseio.com</string>
</dict>
</plist>